## Session 1 - Code along notebook

This notebook is related to _Language Analytics: Session 1, Basic scripting with Python_.

This code is undocumented and may not always work! It has been uploaded purely for reference, so that you can come back to check something you may have missed in class.

## Defining variables

In [1]:
new_variable = 4

In [2]:
print(new_variable)

4

In [3]:
different_variable = "I'm a different variable!"

In [4]:
print(different_variable)

I'm a different variable!

In [7]:
2*2 == 5

False

In [8]:
wrong_variable == 4

NameError: name 'wrong_variable' is not defined

In [9]:
new_variable == 4

True

Can use: 
- upper and lower case letters (A-Za-z)
- digits(0-9)
- underscores (_)

Cannot use:
- any other punctuation (-.,!? etc)
- spaces ( )
- reserved words

## Data types

In [10]:
type(new_variable)

int

In [11]:
type(different_variable)

str

- Text type (str)
- Numeric types (int, float)
- Sequence types (lists, tuples)
- Map types (dict)
- Set types (set)
- Boolean types (bool)

## Strings

In [16]:
type('this is a string!')

str

In [19]:
type("She shouted, "this is a string!"")

SyntaxError: invalid syntax (<ipython-input-19-e7c48d9019f9>, line 1)

## String methods

In [24]:
text_snippet = "It was the best of times, it was the worst of times"
type(text_snippet)

str

In [25]:
type(text_snippet)

str

__Index__

In [29]:
text_snippet[1]

't'

In [28]:
text_snippet[0]

'I'

__Slice__

In [30]:
text_snippet[0:10]

'It was the'

In [31]:
text_snippet[:10]

'It was the'

__Adding (concatanating)__

In [33]:
print(text_snippet + ", it was an age of wisdom, it was an age of foolishness")

It was the best of times, it was the worst of times, it was an age of wisdom, it was an age of foolishness

In [34]:
text_snippet2 = ", it was an age of wisdom, it was an age of foolishness"

In [35]:
print(text_snippet + text_snippet2)

It was the best of times, it was the worst of times, it was an age of wisdom, it was an age of foolishness

In [36]:
text_snippet * 4

'It was the best of times, it was the worst of timesIt was the best of times, it was the worst of timesIt was the best of times, it was the worst of timesIt was the best of times, it was the worst of times'

In [37]:
text_snippet / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

__Upper and lower__

In [38]:
text_snippet

'It was the best of times, it was the worst of times'

In [39]:
text_snippet.lower()

'it was the best of times, it was the worst of times'

In [40]:
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

__F strings__

In [41]:
print(f"A Tale of Two Cities begins like this: {text_snippet}")

A Tale of Two Cities begins like this: It was the best of times, it was the worst of times

In [42]:
novel_information = "A Tale of Two Cities begins like this: "

In [43]:
print(novel_information + text_snippet)

A Tale of Two Cities begins like this: It was the best of times, it was the worst of times

## Numeric types

In [44]:
type(42)

int

In [45]:
type(42.5)

float

In [46]:
variable1 = 4
variable2 = 2

In [47]:
variable1 * variable2

8

In [48]:
variable1 ** variable2

16

(4^2)

In [50]:
type(42 / 10)

float

In [51]:
42 // 10

4

In [53]:
float(42)

42.0

In [54]:
int(42.5)

42

## List

In [56]:
author1_name = "Charles Dickens"
author2_name = "James Joyce"

In [57]:
[author1_name, author2_name]

['Charles Dickens', 'James Joyce']

In [58]:
names = [author1_name, author2_name]

In [60]:
type(names)

list

__Index, slice__

In [61]:
names[0]

'Charles Dickens'

In [62]:
names[1]

'James Joyce'

In [63]:
names[0:2]

['Charles Dickens', 'James Joyce']

__Appending, removing, sorting__

In [64]:
names

['Charles Dickens', 'James Joyce']

In [65]:
names.append("Virginia Woolf")

In [66]:
names

['Charles Dickens', 'James Joyce', 'Virginia Woolf']

In [67]:
names.remove("James Joyce")

In [68]:
names

['Charles Dickens', 'Virginia Woolf']

In [70]:
test_list = ["Charles Dickens", "Virginia Woolf", 42, 42.5]

In [72]:
type(test_list[3])

float

__For loops__

In [74]:
names.append("James Joyce")

In [75]:
names

['Charles Dickens', 'Virginia Woolf', 'James Joyce']

In [77]:
for name in names:
    print(name)

Charles Dickens
Virginia Woolf
James Joyce

_For every name in the list called 'names', print the name_

_for single_item in list:_

for apple in bag_of_apples:

for elephant in group_of_elephants:

In [87]:
for name in names:
    print(f"{name} is {len(name)} characters in length (including spaces).")

Charles Dickens is 15 characters in length (including spaces).
Virginia Woolf is 14 characters in length (including spaces).
James Joyce is 11 characters in length (including spaces).

## Conditionals

In [88]:
dickens = "Charles Dickens"

In [91]:
if dickens == "James Joyce":
    print("What the Dickens!")
else:
    print("This is the second condition.")

This is the second condition.

In [99]:
for name in names:
    if name == "Charles Dickens":
        print(f"{name} is correct")
    elif name == "Virginia Woolf":
        print(f"{name} is also correct")
    else:
        print(f"{name} is not correct")

Charles Dickens is correct
Virginia Woolf is also correct
James Joyce is not correct

## Reading files

In [101]:
import os

In [111]:
filepath = os.path.join("..", "data", "test_files", "dickens_intro.txt")

In [113]:
with open(filepath, "r", encoding="utf-8") as file:
    loaded_text = file.read()

"r" = read <br>
"w" = write

In [126]:
from pathlib import Path

In [128]:
data_path = os.path.join("..", "data", "test_files")

In [143]:
for filename in Path(data_path).glob("*.txt"):
    with open(filename, "r", encoding="utf-8") as file:
        loaded_text = file.read()
        print(f"{filename} is {len(loaded_text)} characters.")
        # split on whitespace
        split_text = loaded_text.split()
        print(f"{filename} is {len(split_text)} tokens.")

../data/test_files/dickens_intro.txt is 613 characters.
../data/test_files/dickens_intro.txt is 120 tokens.
../data/test_files/ulysses_intro.txt is 121 characters.
../data/test_files/ulysses_intro.txt is 22 tokens.

## Write files

In [144]:
test_output = "This is the file I'd like to save."

In [145]:
outpath = os.path.join("..", "data", "test_files", "test_output.txt")

In [147]:
with open(outpath, "w", encoding="utf-8") as file:
    file.write(test_output)